/* [project]/components/header.module.css [client] (css) */
.header-module__bY5_QG__header {
  z-index: 1000;
  background-color: #fff;
  align-items: center;
  height: 80px;
  padding: 10px 20px;
  display: flex;
  position: relative;
}

.header-module__bY5_QG__sideMenu {
  z-index: 1000;
  background-color: #fff;
  width: 300px;
  height: 100vh;
  padding: 20px;
  transition: transform .3s ease-in-out;
  position: fixed;
  top: 0;
  left: 0;
  transform: translateX(-100%);
  box-shadow: 2px 0 5px #0003;
}

.header-module__bY5_QG__sideMenu.header-module__bY5_QG__open {
  transform: translateX(0);
}

.header-module__bY5_QG__sideMenu button {
  text-align: left;
  cursor: pointer;
  background-color: #fff;
  border: none;
  border-radius: 5px;
  width: 100%;
  margin: 5px 0;
  padding: 10px 15px;
  font-size: 16px;
  transition: background-color .3s ease-in-out, transform .1s ease-in-out;
}

.header-module__bY5_QG__sideMenu button:hover {
  background-color: #f0f0f0;
  transform: scale(1.03);
}

.header-module__bY5_QG__menuContent {
  flex-direction: column;
  gap: 10px;
  display: flex;
}

.header-module__bY5_QG__closeBtn {
  cursor: pointer;
  background: none;
  border: none;
  align-self: flex-end;
  font-size: 24px;
}

.header-module__bY5_QG__nav {
  justify-content: space-between;
  align-items: center;
  width: 100%;
  display: flex;
}

.header-module__bY5_QG__navLeft, .header-module__bY5_QG__navCenter, .header-module__bY5_QG__navRight {
  align-items: center;
  display: flex;
}

.header-module__bY5_QG__navCenter {
  flex: 1;
  justify-content: center;
  align-items: center;
  display: flex;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.header-module__bY5_QG__logo {
  width: auto;
  max-height: 80px;
}

.header-module__bY5_QG__navRight {
  justify-content: flex-end;
  gap: 15px;
}

.header-module__bY5_QG__searchContainer {
  align-items: center;
  margin-left: 150px;
  display: inline-block;
  position: relative;
}

.header-module__bY5_QG__searchIcon {
  cursor: pointer;
  z-index: 10;
  font-size: 20px;
  position: relative;
}

.header-module__bY5_QG__searchModal {
  z-index: 100;
  background: #fff;
  border-radius: 5px;
  align-items: center;
  gap: 10px;
  min-width: 200px;
  padding: 10px;
  display: flex;
  position: absolute;
  top: 50%;
  left: -237px;
  transform: translateY(-50%);
  box-shadow: 0 4px 6px #0000001a;
}

.header-module__bY5_QG__hidden {
  display: none;
}

.header-module__bY5_QG__navList {
  justify-content: flex-end;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.header-module__bY5_QG__navItem, .header-module__bY5_QG__menuIcon {
  cursor: pointer;
  background-color: #fff;
  border: none;
  border-radius: 5px;
  padding: 8px 12px;
  font-size: 16px;
  transition: background-color .3s ease-in-out, transform .1s ease-in-out;
}

.header-module__bY5_QG__navItem:hover, .header-module__bY5_QG__menuIcon:hover {
  background-color: #f0f0f0;
  transform: scale(1.05);
}

.header-module__bY5_QG__navLink {
  color: #000;
  padding: 10px;
  font-size: 15px;
  text-decoration: none;
}

.header-module__bY5_QG__navLink:hover {
  background-color: #9a9898;
}


/* [project]/components/footer.module.css [client] (css) */
.footer-module__oqRDSq__footer {
  color: #fff;
  text-align: center;
  background: #000;
  width: 100%;
  padding: 25px;
  font-size: 16px;
  position: relative;
  bottom: 0;
  left: 0;
}


/* [project]/pages/perfilUsuario.module.css [client] (css) */
.perfilUsuario-module__xn26ja__container {
  background-color: #f8f8f8;
  flex-direction: column;
  align-items: center;
  min-height: calc(100vh - 100px);
  padding: 40px;
  font-family: Segoe UI, sans-serif;
  display: flex;
}

.perfilUsuario-module__xn26ja__title {
  color: #531517;
  margin-bottom: 10px;
  font-size: 28px;
  font-weight: bold;
}

.perfilUsuario-module__xn26ja__info {
  color: #444;
  margin: 5px 0;
  font-size: 16px;
}

.perfilUsuario-module__xn26ja__buttonGroup {
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin: 20px 0;
  display: flex;
}

.perfilUsuario-module__xn26ja__customButton, .perfilUsuario-module__xn26ja__logoutButton {
  cursor: pointer;
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  font-size: 16px;
  transition: background-color .3s;
}

.perfilUsuario-module__xn26ja__customButton {
  color: #fff;
  background-color: #531517;
}

.perfilUsuario-module__xn26ja__customButton:hover {
  background-color: #b24592;
}

.perfilUsuario-module__xn26ja__logoutButton {
  color: #fff;
  background-color: #a83232;
}

.perfilUsuario-module__xn26ja__logoutButton:hover {
  background-color: #e04848;
}

.perfilUsuario-module__xn26ja__passwordSection {
  background: #fff;
  border-radius: 10px;
  width: 100%;
  max-width: 500px;
  margin-top: 40px;
  padding: 20px;
  box-shadow: 0 4px 10px #0000001a;
}

.perfilUsuario-module__xn26ja__passwordForm {
  flex-direction: column;
  gap: 10px;
  display: flex;
}

.perfilUsuario-module__xn26ja__passwordInput {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  font-size: 14px;
}

.perfilUsuario-module__xn26ja__error {
  color: #e04848;
  font-size: 14px;
}

.perfilUsuario-module__xn26ja__success {
  color: green;
  font-size: 14px;
}

.perfilUsuario-module__xn26ja__loading {
  color: #555;
  margin-top: 40px;
  font-size: 16px;
}

.perfilUsuario-module__xn26ja__productList {
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  margin: 10px 0 30px;
  padding: 0;
  list-style: none;
  display: grid;
}

.perfilUsuario-module__xn26ja__productItem {
  text-align: center;
  background: #fff;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0 4px 10px #0000001a;
}

.perfilUsuario-module__xn26ja__productImage {
  object-fit: cover;
  border-radius: 8px;
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.perfilUsuario-module__xn26ja__productItem p {
  color: #333;
  margin: 0;
  font-size: 14px;
  font-weight: 500;
}

.perfilUsuario-module__xn26ja__listado {
  width: 100%;
  max-width: 900px;
}


/*# sourceMappingURL=_3725d2ef._.css.map*/